
<theme>
    <formatVersion>4</formatVersion>

    <view name="menu">
        <menuText name="menutitle">
            <fontPath>./_inc/fonts/ubuntu_bold.ttf</fontPath>
            <fontSize>0.044</fontSize>
            <color>FAFAFA</color>
        </menuText>

         <menuText name="menufooter">
            <fontPath>./_inc/fonts/ubuntu_medium.ttf</fontPath>
            <fontSize>0.02</fontSize>
            <color>777777FF</color>
        </menuText>

    <menuText name="menutext">
      <fontPath>./_inc/fonts/ubuntu_medium.ttf</fontPath>
      <fontSize>0.038</fontSize>
      <color>fd18f0</color>
      <separatorColor>fd18f0</separatorColor>
      <selectorColor>18e5fd</selectorColor>
      <selectorColorEnd>fd18f0</selectorColorEnd>
      <selectedColor>0600ff</selectedColor>
      <selectorGradientType>vertical</selectorGradientType>
    </menuText>

         <menuTextSmall name="menutextsmall">
            <fontPath>./_inc/fonts/ubuntu_medium.ttf</fontPath>
            <fontSize>0.02</fontSize>
            <color>deec00</color>
        </menuTextSmall>

       <menuBackground name="menubg">
      <color>242424</color>
      <cornerSize>32 32</cornerSize>
	   <path>./_inc/grid.jpg</path>
        </menuBackground>

    </view>
</theme>